<% if @pet.errors.full_messages.present? %>
  <p>There were some problems saving your data:</p>
  <ul>
    <% @pet.errors.full_messages.each do |msg| %>
      <li style="color: red"><%= msg %></li>
    <% end %>
  </ul>
<% end %>

<%= form_for(@pet) do |f| %>
  <%= f.label "Name" %>
  <%= f.text_field :name %>
  <%= f.label "Image" %>
  <%= f.text_field :image %>
  <%= f.label "Likes" %>
  <%= f.number_field :likes %>
  <%= f.label "Owner" %>
  <%= f.collection_select(:person_id, @people, :id, :name) %>
  <%= f.submit %>
<% end %>
