<h1>Add a new person with pets!</h1>

<%= form_for(@person) do |f| %>
  <%= f.label :name %>
  <%= f.text_field :name %>
  <%= f.label :age %>
  <%= f.number_field :age %>
  <%= f.label :location %>
  <%= f.text_field :location %>

  <p>Skip the bullshit. Tell me about your dog already.</p>
  <%= f.fields_for(:pets) do |pet_form| %>
    <%= pet_form.label :name %>
    <%= pet_form.text_field :name %>
    <%= pet_form.label :image %>
    <%= pet_form.text_field :image %>
    <%= pet_form.label :likes %>
    <%= pet_form.number_field :likes %>
  <% end %>
  <%= f.submit %>
<% end %>

<%= link_to("List of Humanses", people_path) %>
