<!DOCTYPE html>
<html>
  <head>
    <title>CuteRates</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bulma/0.7.2/css/bulma.min.css" />
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <nav class="navbar" role="navigation" aria-label="main navigation">

    <div id="navbarBasicExample" class="navbar-menu">
      <%= link_to("Home", root_path, class: 'navbar-item') %>
      <%= link_to("Pets", pets_path, class: 'navbar-item') %>
      <%= link_to("People", people_path, class: 'navbar-item') %>
      <% if session[:person_id] %>
        <a href="#">Hi, <%= current_user.name %>!</a>
        <%= link_to("Logout", logout_path, method: :delete, class: 'navbar-item') %>
      <% else %>
        <%= link_to("Login", login_path, class: 'navbar-item') %>
      <% end %>
    </div>
  </nav>

  <% if flash[:notice] %>
    <div class="notification is-warning">
      <p><%= flash[:notice] %></p>
    </div>
  <% end %>

    <div class="container">
      <%= yield %>
    </div>
  </body>
</html>
